<article
    id=`abuseipdb`
    class="max-w-sm p-6 bg-purple-800/30 border border-gray-400/50 rounded-lg shadow hidden"
>
    <h3 id=`abuseipdb-title` class="mb-2 text-2xl font-bold text-white"></h3>
    <h4 class="mt-4 text-lg font-bold">Información general</h4>
    <ul class="text-gray-300">
        <li>
            <strong>Proveedor de servicios: </strong>
            <span id=`abuseipdb-isp` class="text-base font-normal"> </span>
        </li>
        <li>
            <strong>¿Qué uso se le da a la IP? </strong>
            <span id=`abuseipdb-usetype` class="text-base font-normal"> </span>
        </li>
        <li>
            <strong>Pais: </strong>
            <span id=`abuseipdb-countryname` class="text-base font-normal">
            </span>
        </li>
        <li>
            <strong>¿Está en lista blanca? </strong>
            <span id=`abuseipdb-whitelist` class="text-base font-normal">
            </span>
        </li>
        <li>
            <strong>¿Es un nodo de TOR? </strong>
            <span id=`abuseipdb-istor` class="text-base font-normal"> </span>
        </li>
        <li>
            <strong>Reportes de la comunidad: </strong>
            <span id=`abuseipdb-totalreports` class="text-base font-normal">
            </span>
        </li>
        <li>
            <strong>Fidelidad de los reportes: </strong>
            <span id=`abuseipdb-confidencescore` class="text-base font-normal">
            </span>
        </li>
    </ul>
    <h4 class="mt-4 text-lg font-bold">Comentarios de la comunidad</h4>
    <ul id=`abuseipdb-reports` class="text-gray-300 list-disc"></ul>
</article>
