---
import Layout from "@/layouts/Layout.astro";
import App from "@/components/App.astro";
import "@/styles/index.css";
---

<Layout title="Bienvenidos a IoCDB Share">
	<main>
		<h1 class="principal-title-text">
			Bienvenidos a <span class="principal-title-text-gradient"
				>IoCDB Share</span
			>
		</h1>

		<App />
	</main>
</Layout>
