---
const { apiID, dbSource } = Astro.props;
---

<div id={dbSource} class="hidden">
    <h4 class="mt-4 text-lg font-bold">Información general</h4>
    <p
        id=`api${apiID}-result-${dbSource}-pulsecount`
        class="text-gray-300 text-base"
    >
        <strong>Reportes de la comunidad:</strong>
    </p>
</div>
