---
import IoCResultAPI from "@/components/IoCResultAPI.astro";
---

<section
    id="iocResults"
    class="mx-auto w-full max-w-3xl text-white text-lg leading-relaxed hidden h-full"
>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-auto-fit gap-4">
        <IoCResultAPI apiID="1" />
        <IoCResultAPI apiID="2" />
    </div>
</section>
