main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.principal-title-text {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-wrap: balance;
}

.principal-title-text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}