.iocAnalyzer {
    margin: auto;
    padding: 2rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-size: 0.9rem;
    color: rgb(var(--accent-light));
}

.input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid rgba(var(--accent-light), 0.2);
    border-radius: 0.25rem;
    background-color: rgba(var(--accent-dark), 0.1);
    color: white;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(34, 34, 56);
    background-image: var(--accent-gradient);
    background-size: 200%;
    background-position: 0%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
}

.button:hover {
    background-position: 100%;
}